@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  font-family: "Roboto";
  background-color: white;
}

.to-do-list {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 164px;
    height: 49px;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    line-height: 49.22px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    span {
      font-family: Roboto;
      font-size: 42px;
      font-weight: 700;
      line-height: 49.22px;
      text-align: left;
      color: rgb(141, 224, 200);
    }
  }
  form {
    width: 337px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 18px;
    column-gap: 5px;

    input {
      width: 268px;
      height: 44px;
      border-radius: 21px;
      border: 1px solid rgba(0, 0, 0, 1);
      padding-left: 35px;
    }
    input::placeholder {
      width: 168px;
      height: 20px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;
      color: rgba(169, 169, 169, 1);
    }
    button {
      width: 38px;
      height: 38px;
      border-radius: 37px;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto;
      font-size: 31px;
      font-weight: 300;
      line-height: 36.33px;
      text-align: left;
    }
  }
}

.todo {
  width: 318px;
  height: 66px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: rgba(182, 219, 227, 1);
  display: flex;
  align-items: center;
  margin-top: 28px;
  padding: 13px 17px;
  justify-content: space-between;
  .check {
    width: 17.45px;
    height: 17.45px;
    background: transparent;
    outline: none;
    border-radius: 100%;
  }
}
.task {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.remove {
  background-color: transparent;
  border: none;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.complete{
  background-color: rgba(245, 209, 212, 1);
}
